.dashboard-body{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.side-panel{
    background-color: rgb(51, 16, 177);
    color:white;
}

.side-panel > ul{
    list-style-type: none;
    font-size: 22px;
}

.dashboard{
    display: grid;
    grid-template-rows: 1fr 2fr 8fr;
}

.top-bar{
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.admin-actions{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;    
    gap: 10px;
}

img{
    background-color: rgb(153, 153, 255);
    border-radius: 50px;
}

.actions{
    justify-self: end;
}

button{
    border-radius: 10px;
    width: 120px;
    height: 50px;
    background-color: rgb(51, 16, 177);
    color: white;
}

.user{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.dashboard-items{

}

